*{
margin: 0;
padding: 0;
box-sizing: border-box;



}


body{

background: #fff;
width: 1002px;

font-family: Georgia, 'Times New Roman', Times, serif;

font-weight: 400;
border: 1px solid black;
}



header{


    display: flex;
    flex-wrap: wrap;

height: 99px;
justify-content: space-between;
margin-top: 38px;

border-bottom: 4px solid rgb(226, 226, 226, 1);

}

#logo{



    margin-left: 20px;



}



#logo b{

color: #505050;
font-size: 32px;
margin-top: 7px;

}

#logo p{


    color: #666666;
    font-size: 12px;
}


#nav{

    margin-right: 20px;
background: rgb(226, 73, 75, 1);
display: flex;
align-items: center;

width: 620px;
height: 58px;
border-radius: 10px;
font-size: 13px;
justify-content: space-around;

padding: 4px;
}



#nav a{

text-decoration: none;
color: #FFFFFF;
margin-right: 39px;
font-weight: 400;


}


#nav a:first-child{

color: #EE9395;
margin-left: 4px;



}
/* end of header section */


/* start of banner */

.banner p{

margin-top: 39px;
/* text-align: center; */
font-size: 22px;


color: #333333;

margin-left: 146px;

margin-right: 147px;

margin-bottom: 38px;




}

.banner img{

height:403px ;
width:963px ;

margin-left: 18px;
margin-bottom: 25px;

}




/* end of banner section */


/* start of services section */



.services hr{


margin-left: 18px;
margin-right: 19px;
position: relative;


margin-top: 47px;

}


.services b{

width: 179px;
height: 32px;
border-radius: 10px;

background: rgb(226, 73, 75, 1);
color: white;
position: absolute;

margin-left: 411px;
margin-top: -17px;

display: flex;
justify-content: center;
align-items: center;



}


.individual_services{



    display: flex;
    flex-wrap: wrap;
width: 1002px;

margin-top: 48px;
margin-left: 18px;
margin-right: 19px;


}

.individual_services img{


    height: 35px;
    width: 35px;
}


.serve{



    width: 296px;

    margin-right: 34px;
}




.logo_title{


    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 8px;

    color: #666666;
font-size: 18px;


}


/* end of services section */


/* start of players section */

.players{

width: 1002px;
margin-top: 43px;

margin-left: 18px;
margin-right: 19px;

font-size: 13px;

}


.players hr{

    margin-left: 18px;
    margin-right: 19px;
    position: relative;



}


.players b{

    width: 179px;
    height: 32px;
    border-radius: 10px;
    
    background: rgb(226, 73, 75, 1);
    color: white;
    position: absolute;
    
    margin-left: 411px;
    margin-top: -17px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    }


    .company_players{


display: flex;
flex-wrap: wrap;
margin-top: 37px;


    }


.play{

width: 179px;

margin-right: 17px;

}

.play img{


height: 179px;
width: 179px;

}


/* players end */


/* latest work start */


.latest_work{


    margin-top: 42px;
margin-left: 18px;
margin-right: 19px;


}

.latest_work hr{


    margin-left: 18px;
    margin-right: 19px;
    position: relative;
    
    
    margin-top: 47px;
    
    }
    
    
    .latest_work b{
    
    width: 179px;
    height: 32px;
    border-radius: 10px;
    
    background: rgb(226, 73, 75, 1);
    color: white;
    position: absolute;
    
    margin-left: 411px;
    margin-top: -17px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    }


.work{


display: flex;
flex-wrap: wrap;
margin-top: 69px;


}


.work img{


width: 300px;
height:163px ;



}


/* end of latest work */

/* start of footer */

.footer{
    margin-top: 47px;
   
    grid-column: 1/6;
    height: 364px;
    background-color: rgba(235, 235, 235, 1);
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border-top: 8px solid rgba(210, 210, 210, 1);

    
    }
    
    .left_footer{

width: 455px;
height: 276px;
margin-left: 24px;
margin-right: 21px;

    }

.left_upper{


display: flex;
margin-top: 23px ;

}


.left_upper img{

height: 98px;
width: 98px;


}
.footer_middle{


width: 188px;
height: 247px;
/* margin-top: 47px; */
line-height: 12px;
font-size: 12px;
margin-right: 20px;


}

.footer h3{


    font-size: 16px;

    margin-top: 42px; 
    font-size: 16px; 
    color: black;
}


.footer .contact_form{

width: 228px;

margin-left: 55px;


}

.footer hr{


    
}


/* end of footer */

/* responsiveness */

@media (min-width:540px) and (max-width: 767px) {


body{

    width: 100%;
    
}




/*  */


#logo{



    margin-left: 5px;
    



}





#logo b{

    
    font-size: 20px;
    
    
    }
    
    #logo p{
    
    
        
        font-size: 8px;
    }
    
    
    #nav{
    
       
    
    width:370px;
    height: 48px;
    border-radius: 8px;
    font-size: 6px;
   margin-right: 2px;
   
    }
/*  */

.banner p{

    margin-top: 29px;
   
    font-size: 12px;
    
    
    text-align: center;
    
    
    
    
    }
    
    .banner img{
    
    height:auto ;
    width: calc(100% - 39px);
    
    margin-left: 18px;
    margin-bottom: 25px;
    
    }
    

/*  */

.services hr{


    margin-left: 18px;
    margin-right: 19px;
    width: calc(100% - 37px);
    }
    
    
    .services b{
    
    
    
    margin-left:calc(100% - 390px);
   
    
    
    }

/*  */

    
.individual_services{



   
width: 100%;




}



.individual_services img{


    height: 30px;
    width: 30px;
}


.serve{



    width: 30%;

    margin-right: 17px;
}
/*  */
.players{

    width: 100%;
    margin-top: 35px;
    
    
    
    font-size: 12px;
    
    }
    


    .play{


        margin-right: 17px;
    }
    
    .players hr{

        
        width: calc(100% - 37px);
    
    
    }
    
    .players b{

        margin-left:calc(100% - 390px);
        
        
        
        }

/*  */

        
.latest_work{


    width: 100%;


}


.latest_work hr{


    width: calc(100% - 37px);
    
    }
    
    
    .latest_work b{
    
        margin-left:calc(100% - 390px);
    
    
    
    }

    .work img{


        width: 40%;
        height:163px ;
        
        
        
        }





        /*  */






        .footer{
            width: 100%;
            height: auto;
            
        
            
            }
            
            .left_footer{
        
        width: 30%;
        
       height: auto;
        
            }


            .left_footer img{


                /* display: none; */
            }


            
        
        
        
        
        .left_upper img{
        
        height: 45px;
        width: 45px;
        
        
        }
        .footer_middle{
        
        
        width: 25%;

        /* margin-top: -217px; */
        
        
        
        }
        
        .footer h3{
        
        
            font-size: 12px;
        
            
        }
        
        
        .footer .contact_form{
        
        width: 20%;
        
        margin-left: -15px;

        /* margin-top: -217px; */
        
        
        }


        #left_lower{


            display: none;
        }
/* end of responsiveness */

}
